# dependency and other dirs
venv
virtualenv

# logs and other files
*.log
*.csv

# environment vars files
*.env
build.json


# IDEs and OSX cache
.idea
.vscode
.DS_Store


# content caching
tmp
package-lock.json
yarn.lock

# user defined
test_snippets.*

